.ModernDeedy * {margin:0; padding:0; text-indent:0; }
.ModernDeedy .s1 { color: #6A6A6A; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16pt; }
.ModernDeedy .s2 { color: black; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 24.5pt; }
.ModernDeedy .s3 { color: #2B2B2B; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 9pt; }
.ModernDeedy .s4 { color: #2B2B2B; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
.ModernDeedy .s5 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 9pt; }
.ModernDeedy h1 { color: #333; font-family:Tahoma, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
.ModernDeedy .s6 { color: #6A6A6A; font-family:"Lucida Sans", sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
.ModernDeedy .s7 { color: #333; font-family:"Lucida Sans", sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
.ModernDeedy .p { color: #2B2B2B; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; margin:0pt; }
.ModernDeedy .s8 { color: #2B2B2B; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
.ModernDeedy .s9 { color: #2B2B2B; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 11pt; }
.ModernDeedy .a { color: #333; font-family:Tahoma, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
.ModernDeedy .s11 { color: #333; font-family:"Bookman Old Style", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
.ModernDeedy .s12 { color: #2B2B2B; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;}
.ModernDeedy .s13 { color: #2B2B2B; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; vertical-align: 2pt; }
.ModernDeedy .s14 { color: #2B2B2B; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: -2pt; }

.page {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    padding: 10mm; /* Add padding as needed */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    box-sizing: border-box;
    position: relative;
  }
  
/* Content styling */
.content {
    width: 100%;
    height: 100%;
    /* text-align: left; */
    /* overflow: hidden;
    box-sizing: border-box; */
}